@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #171D1C;
    --white: #E8F1F2;
    --pink: #F51AA4;
    --orange: #FE5D26;
    --blue: #2374AB;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 2px;
    height: 0px;
} ::-webkit-scrollbar-thumb {
    background: var(--orange);
} ::-webkit-scrollbar-track {
    background: var(--black);
} ::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins';
}

/* ANIMATIONS */

@keyframes upAndDown {
    0% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
        
    }
    100% { 
        transform: translateY(0px);
    }
}

/* APP */
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: scroll;

    max-width: 100vw;
    min-height: 100vh;
}

/* BACK */
#back {
    position: absolute;

    background: rgb(19, 18, 18);

    width: 100vw;
    height: 1000px;

    z-index: -1;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 3rem;

    color: var(--white);
} .logo {
    font-size: 3rem;
    font-weight: normal;
} .logo b {
    color: var(--orange);
    font-family: 'Montserrat';
} nav {
    display: flex;
    align-items: center;
    gap: 2rem;
} nav button {
    text-decoration: none;

    border: none;
    border-radius: .75rem;
    outline: none;
    background: transparent;

    min-width: 100px;
    max-width: 200px;

    padding: .5rem 1rem;

    font-size: 1.2rem;
    color: var(--white);

    transition: .5s;
} nav button:hover {
    background: var(--orange);
    color: var(--black);

    cursor: pointer;
    padding: .7rem 1rem;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

/* CANVAS */
#canvas-1 {
    width: 800px;
    height: 400px;
} #earth-marker {
    display: flex;
    align-items: center;

    border-radius: .75rem;
    border: solid 1px var(--black);
    padding: .5rem;

    color: var(--white);

    background: #171d1c2f;

    transition: .5s;
} #earth-marker:hover {
    padding: 1rem;

    background: #f51aa586;
}

#canvas-satelite{
    width: 800px;
    height: 40vh;
}

/* SECTIONS */

/* HERO SECTION */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 7.5rem;

    width: 90%;
    padding: 7rem 0;
} #hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
} #hero div{
    color: var(--white);
} #hero div h1{
    color: var(--white);
    font-weight: normal;
    font-size: 4rem;
    /* min-width: 700px; */
} #hero div h1 b{
    color: var(--orange);
} #hero div h2{
    color: var(--orange);
    font-weight: normal;
} .text{
    padding: 1rem;
    border-radius: .75rem;

    background: #e8f1f21a;
} #scroll-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: upAndDown 1.5s ease-in-out infinite;
}

/* Section 1 */
#section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: var(--orange);

    width: 100%;
    padding: 4rem 0;
} #section-1 h1 {
    color: var(--black);
    font-size: 3rem;
    font-weight: normal;
} #section-1 h1 b {
    color: var(--white);
} #section-1 h2 {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: normal;
}

.interact{
    display: flex;
    flex-direction: column;    
    align-items: center;

    color: var(--white);

    animation: upAndDown 1.5s ease-in-out infinite;
} .interact h3 {
    font-weight: normal;
}

.panel {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: .75rem;
    max-width: 700px;

    background: #171d1c6e;
    color: #E8F1F2;

    box-shadow: 2px 2px 3px var(--black);
} .panel p {
    text-align: justify;
}

/* Seção CONTATO */

#contato {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    padding: 4rem 0;

    background: var(--white);
} #contato h1{
    font-size: 3rem;
    color: var(--pink);
}

/* MEDIA QUERIES */

@media (max-width: 1600px)
{
    #canvas-satelite {
        width: 400px;
    }
    #hero {
        padding: 5.5rem 0;
    }

    #hero div h1{
        font-size: 3rem;
    }
}

@media (max-width: 1300px)
{
    #section-1 div h1 {
        font-size: 2rem;
    } #section-1 div h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1200px)
{
    #hero {
        padding: 4rem 0;
    }

    #canvas-satelite{
        width: 250px;
        height: 250px;
    }

    #hero-content {
        flex-direction: column;
    }
    #hero div h1{
        font-size: 2rem;
    } #hero div h2{
        font-size: 1.3rem;
    }
}

@media (max-width: 1020px)
{
    #section-1 div h1 {
        font-size: 2rem;
    } #section-1 div h2 {
        font-size: .9rem;
    }
}

@media (max-width: 900px)
{
    header{
        flex-direction: column;
    }

    #canvas-1 {
        width: 400px;
        height: 300px;
    }

    .panel {
        font-size: .8rem;
        width: 600px;
    }

    #contato {
        flex-direction: column;
    }
}

@media (max-width: 750px)
{
    #hero div h1{
        font-size: 1.5rem;
    } #hero div h2{
        font-size: .9rem;
    } 

    #section-1 div h1 {
        font-size: 2rem;
    } #section-1 div h2 {
        font-size: .8rem;
        text-align: justify;
        width: 400px;
    }
}

@media (max-width: 630px)
{
    #section-1 div h1 {
        font-size: 1.5rem;
    } #section-1 div h2 {
        font-size: .8rem;
        text-align: justify;
        width: 400px;
    }

    .panel {
        font-size: .7rem;
        width: 500px;
    }
}

@media (max-width: 550px)
{
    header {
        gap: .5rem;
    }
    header nav button {
        font-size: .9rem;
    }

    #contato h3 {
        font-size: 1rem;
    }

    #hero div h1{
        font-size: 1.2rem;
    } #hero div h2{
        font-size: .9rem;
    } 

    #canvas-satelite {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 500px)
{
    .panel {
        width: 400px;
    }
}

@media (max-width: 450px)
{
    header nav {
        display: none;
    }

    #section-1 div h1 {
        font-size: 1.2rem;
    } #section-1 div h2 {
        font-size: .8rem;
        text-align: justify;
        width: 300px;
    }

    #canvas-1 {
        width: 350px;
        height: 250px;
    }

    #contato h3 {
        font-size: .7rem;
    }
}

@media (max-width: 400px)
{
    .panel {
        width: 270px;
    }

    #section-1 div h1 {
        font-size: 1rem;
    } #section-1 div h2 {
        font-size: .7rem;
        text-align: justify;
        width: 300px;
    }
}